
.div{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}
h1{
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: #000;


margin: 53.6px 0;
}

p{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    color: #000;
    
    
}
button{
    width: 250px;
    height: 80px;
    color: white;
    background-color: blue;

}
button:hover{
    background-color: green;
}

#author{
    margin-top: 0;
}